server:
  port: 8080

spring:
  application:
    name: spring-devops-lab

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always

app:
  version: "v1"
