apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-cicd-k8s-demo-prod
spec:
  template:
    spec:
      containers:
        - name: spring-cicd-k8s-demo
          image: whwp4151/spring-cicd-k8s-demo:prod-2
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: prod
---
apiVersion: v1
kind: Service
metadata:
  name: spring-cicd-k8s-demo-prod
spec:
  ports:
    - port: 8082
      targetPort: 8080
