apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-cicd-k8s-demo
spec:
  template:
    spec:
      containers:
        - name: spring-cicd-k8s-demo
          image: whwp4151/spring-cicd-k8s-demo:prod-3
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: prod

---
apiVersion: v1
kind: Service
metadata:
  name: spring-cicd-k8s-demo-service
spec:
  type: NodePort
  ports:
    - name: http
      port: 80
      targetPort: 8080
      nodePort: 30802
