name: Deploy to Prod

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build JAR
        run: ./gradlew clean build -x test

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/spring-cicd-k8s-demo:prod-${{ github.run_number }}
            ${{ secrets.DOCKERHUB_USERNAME }}/spring-cicd-k8s-demo:prod-latest

      - name: Update image tag in Kustomize (prod)
        run: |
          sed -i "s|image: .*|image: ${{ secrets.DOCKERHUB_USERNAME }}/spring-cicd-k8s-demo:prod-${{ github.run_number }}|g" k8s/prod/patch-prod.yaml

      - name: Commit and push manifest
        run: |
          git config --global user.name "whwp4151"
          git config --global user.email "whwp4151@naver.com"
          git add k8s/prod/patch-prod.yaml
          git commit -m "Update prod image tag"
          git push
